* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #556B2F;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: #F8F8FF;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

 {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
  {
  
  
  }

 {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}